# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

##  ***Objectives***
+ R
+ Python
+ SQL
+ Java
+ C++

### Some of the popular languages that Data Scientists use are:
1. python
2. r
3. java

### Some of the commonly used libraries used by Data Scientists include:
1. jupyter
2. Anaconda navigator
3. watson studio
4. r studio

## Data science tools
|Data Science Tools|
|--------------|
| Power BI |
| Tableau |
|   R   |

### Below are a few examples of evaluating arithmetic expressions in Python
2+4 = 6, 2*4 = 8

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sachin Kumar Yadav